

<%= form_with model: @profile, :html => { :class => "p-5" } do |form| %>
<h1>Modifier ce Profil</h1>
<div class="row mb-2">
  <div class="col form-group" >
    <%= form.label :nom %><br>
    <%= form.text_field :nom, class: "form-control" %>
  </div>
    <div class="col form-group">
    <%= form.label :prenom %><br>
    <%= form.text_field :prenom, class: "form-control" %>
  </div>
</div>


  <div class="form-group mb-2" >
    <%= form.label :adresse %><br>
    <%= form.text_area :adresse, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :photo %><br>
    <%= form.text_field :photo, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :age %><br>
    <%= form.number_field :age, in: 1..120, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Enregistrer les modifications", class: "btn btn-primary" %>
  </div>
<% end %>