<h1>Profiles</h1>

<!--<ul>
  <% @profiles.each do |p| %>
    <li>
     <a href="/profiles/<%= p.id %>">
      <%= p.nom %> <%= p.prenom %>
      </a>
    </li>
  <% end %>
</ul>-->
 <div class="row">
<% @profiles.each do |p| %>
<div class="card col-4" style="max-height:30rem">
  <img class="card-img-top" src="<%= p.photo %>" alt="Photo Profile" style="max-width: 18rem;max-height:20rem">
  <div class="card-body">
    <h5 class="card-title"><%= p.nom %> <%= p.prenom %></h5>
    <p class="card-text"><%= p.adresse %></p>
    <a href="/profiles/<%= p.id %>" class="btn btn-primary">Consulter</a>
  </div>
</div>
<% end %>
</div>
<a href="/profiles/new">
<button class="btn btn-primary mt-1">Nouveau Profile</button>
</a>
<!--<%= link_to "Nouveau Profile", new_profile_path %>-->