<div class="card" style="max-width: 30rem;">
  <img class="card-img-top" src='<%= @profile.photo %>' alt="Photo du Profil">
  <div class="card-body">
    <h5 class="card-title"><%= @profile.nom %> <%= @profile.prenom %></h5>
    <p class="card-text">Adresse: <%= @profile.adresse %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Age: <%= @profile.age %> ans</li>
  </ul>
  <div class="card-body">
    <%= link_to "Mettre à jour", edit_profile_path(@profile), class: "card-link" %>
    <%= link_to "Supprimer", @profile, data: {
                                         turbo_method: :delete,
                                         turbo_confirm: "Etes-vous sûr de vouloir supprimer ce profil ?",
                                       }, method: :delete, class: "card-link" %>
  </div>
</div>