<div class="m-2">
<h1>Projet Ruby On Rails </h1>
<h3>- Par Morgan HUE</h3>
<nav class="nav flex-column">
  <a class="nav-link active" href="/articles">Partie Article</a>
  <a class="nav-link active" href="/profiles">Partie Profile</a>
  <a class="nav-link active" href="https://gitlab.com/MorganHue/ruby-project">Lien Gitlab</a>
</nav>
<p style="font-size:15px;color:#e2e2e27a">Plus jamais je fais du rails</p>
</div>